.heroWrapper {
    padding: 85px 12px 32px;
}

.heroContainer {
    position: relative;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px 20px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-image: url('/images/banner/hmg.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #ffffff;
    max-width: 896px;
}

.title {
    font-size: 64px;
    font-weight: 600;
    margin: 0 0 12px 0;
}

.description {
    font-size: 32px;
    /* margin-bottom: 12px; */
    margin: 0 0 12px 0;
    line-height: 1.6;
}

.ctaButton {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    background-color: #c88e11;
    color: #ffffff;
    padding: 16px 40px;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.ctaButton:hover {
    background-color: #ffae00;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .heroContainer {
        height: 400px;
        padding: 40px 20px;
    }

    .title {
        font-size: 32px;
    }

    .description {
        font-size: 14px;
    }

    .ctaButton {
        font-size: 15px;
        padding: 12px 28px;
    }
}