.banner {
    padding-top: 100px;
}

.bannerContent {
    background: #e6e6e6;
    text-align: center;
    height: 490px;
    border-radius: 10px;
    padding: 120px 20px 0 20px;
    position: relative;
    overflow: hidden;
}

.bannerOverlay {
    background-color: #00000090;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Only background image now */
.bannerImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

/* Content above overlay */
.bannerContent>*:not(.bannerImage):not(.bannerOverlay) {
    position: relative;
    z-index: 2;
}

.bannerTitle {
    font-size: 54px;
    font-weight: 400;
    line-height: 48px;
    color: #fff;
    max-width: 700px;
    margin: auto;
}

.bannerTitle span {
    display: block;
}

.bannerText {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    color: #fff;
    margin: 20px auto;
    max-width: 520px;
}

.bannerFeatures {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.featureItems {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: #B3884B;
    border-radius: 100px;
}


/* Responsive */

@media screen and (max-width: 767px) {
    .bannerContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 30px;
    }

    .bannerTitle {
        font-size: 45px;
        margin: 0;
    }

    .bannerFeatures {
        gap: 15px;
    }
}

@media screen and (max-width: 575px) {
    .bannerContent {
        height: 440px;
        padding: 0 10px;
    }

    .bannerTitle {
        font-size: 35px;
        line-height: 32px;
    }

    .bannerText {
        margin: 15px auto;
    }

    .bannerFeatures {
        flex-direction: column;
        align-items: center;
    }
}