* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	background-color: #FAF9F6;
}

body {
	font-family: var(--font-urbanist);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.navy {
	color: #00224A;
}

.royalblue {
	color: #0066FF;
}

.theme-container {
	width: calc(100% - 80px);
	margin: 0 auto;
}

@media screen and (max-width: 1279px) {
	.theme-container {
		width: 980px;
	}
}

@media screen and (max-width: 1023px) {
	.theme-container {
		width: 100%;
		padding: 0 24px;
	}
}