* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	max-width: 100vw;
	/* overflow-x: hidden;  */     /* For Sidebar sticky in DetailContent */
	background-color: #f7f7f7;
}

body {
	font-family: var(--font-urbanist);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}