.footerContainer {
    background-color: #000;
}

.topSection {
    display: flex;
    align-items: center;
    padding: 40px 16px 32px;
}

.logo {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.socialIcons {
    margin-left: auto;
    display: flex;
    gap: 16px;
}

.iconWrapper {
    box-shadow: 0px 19px 28px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 57px;
    transition: .5s;
}

.iconWrapper:hover {
    transform: translateY(-8px);
}
.bottomSection {
    border-top: 1px solid rgba(226, 223, 223, 0.75);
    padding: 20px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomText {
    color: #fff;
    font-size: 18px;
}

.bottomLinks {
    display: flex;
    gap: 16px;
}

.bottomLinks a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.bottomLinks a:not(:first-child) {
    border-left: 1px solid rgba(226, 223, 223, 0.75);
    padding-left: 16px;
}