.footerContainer {
    background-color: #000;
}

.topSection {
    display: flex;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 32px;
}

.logo {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.socialIcons {
    margin-left: auto;
    display: flex;
    gap: 40px;
}

.bottomSection {
    border-top: 1px solid rgba(226, 223, 223, 0.75);
    padding: 20px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomText {
    color: #fff;
    font-size: 18px;
}

.bottomLinks {
    display: flex;
    gap: 16px;
}

.bottomLinks a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.bottomLinks a:not(:first-child) {
    border-left: 1px solid rgba(226, 223, 223, 0.75);
    padding-left: 16px;
}